/* 
CSS is how you can add style to your website, such as colors, fonts, and positioning of your
HTML content. To learn how to do something, just try searching Google for questions like
"how to change link color."
*/
@font-face {
  font-family: 'Roboto';
  src: url("roboto-regular.woff2") format('woff2');
  font-display: swap;
}

/* header gfs settings */
h1,h2 {
  text-shadow: -2px -2px 1px #000000, 2px -2px 1px #000000, -2px 2px 1px #000000, 2px 2px 1px #000000;
}

/* body text gfx settings */
body {
  background-image: url(https://genderfulpodcast.neocities.org/655966184-meowster_background-nb.png);
  background-size: cover;
  color: white;
  font-family: "Roboto";
  font-size: 16pt;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}

/* link color settings for hyperlinks in different states. */
#wrapper a {color: #FFF430}
#wrapper a:active {color: #55CDFC}
#wrapper a:visited {
  color: #ddcdfc;
  padding: 2px; background: black;
  display: inline-block;
}

/* settings for background box behind body text */
#wrapper {
  margin: 0 auto;
  margin-bottom: 0px;
  max-width: 80vw;
  width: 800px;
  background-color: #432e4870;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 20px solid transparent;
  border-image: url("https://genderfulpodcast.neocities.org/nonbinary-pinstripe-border.png");
  border-image-repeat: repeat;
  border-image-slice: 1;
  box-sizing: border-box;
}
    
#wrapper img {
  width: 600px;
  max-width: 100%;
}

/* settings for images to keep them smol */
#wrapper iframe {
  width: 560px;
  max-width: 80vw;
  height: 315px;
}

/* settings for non-bulleted lists */
#contentlinks {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
#contentlinks ul {
  padding-inline-start: 0;
}
#contentlinks ul li {
  list-style-type: none;
  padding-left: 0;
  list-style-position: inside;
}

/* Social Media Settings */
#socials img {
  width: 100px;
  max-width: 10vw;
  margin-top: 30px;
}
#socials a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

/* Mobile Settings */
@media only screen and (max-width: 600px) {
  h1, h2 {font-size: 18px}
  body {font-size: 16px}
  #latest {display: none}
}
