/* 
CSS is how you can add style to your website, such as colors, fonts, and positioning of your
HTML content. To learn how to do something, just try searching Google for questions like
"how to change link color."
*/


/* 
Brand kit colours

Primary
#2D2145 Purple Midnight
#403A5C Dusky Violet
#828282 Silver Stars
#FFFFFF Cloud White
#000000 Inky Black

Secondary/Accents
#00F7FD Cyan Skies
#FDF51B Moon's Yellow
#08E34E Luminous Lime

Tertiary
#B53CD3 Magic Magenta
#FD5206 Crimson Gleam


Brand Kit Fonts
LOGO: Annie Use Your Telescope
HEADER: Poppins Semibold
BODY SANS SERIF: Ubuntu Medium
BODY SERIF: Sedan
*/

@property --color-purple {
    syntax: "<color>";
    inherits: false;
    initial-value: #2D2145;
}

@property --color-violet {
    syntax: "<color>";
    inherits: false;
    initial-value: #403A5C;
}

@property --color-silver {
    syntax: "<color>";
    inherits: false;
    initial-value: #828282;
}

@property --color-silver-50 {
    syntax: "<color>";
    inherits: false;
    initial-value: #DDDDDD;
}

@property --color-white {
    syntax: "<color>";
    inherits: false;
    initial-value: #FFFFFF;
}

@property --color-black {
    syntax: "<color>";
    inherits: false;
    initial-value: #000000;
}

@property --color-cyan {
    syntax: "<color>";
    inherits: false;
    initial-value: #00F7FD;
}

@property --color-yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #FDF51B;
}

@property --color-lime {
    syntax: "<color>";
    inherits: false;
    initial-value: #08E34E;
}

@property --color-magenta {
    syntax: "<color>";
    inherits: false;
    initial-value: #B53CD3;
}

@property --color-crimson {
    syntax: "<color>";
    inherits: false;
    initial-value: #FD5206;
}

/* header gfs settings */
/*
h1,h2 {
  text-shadow: -2px -2px 1px #000000, 2px -2px 1px #000000, -2px 2px 1px #000000, 2px 2px 1px #000000;
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    line-height: 5rem;
}

/* body text gfx settings */
body {
    background-color: var(--color-purple);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
}

/* link color settings for hyperlinks in different states. */
#wrapper a {
    color: var(--color-purple)
}

#wrapper a:visited {
    color: var(--color-violet);
}

#wrapper a:active,
#wrapper a:hover {
    color: var(--color-magenta);
}


/* settings for background box behind body text */
#wrapper {
    margin: 0 auto;
    max-width: 80vw;
    width: 800px;
    background-color: var(--color-silver-50);
    padding: 2rem;
    padding-top: 0;
    border-radius: 2rem;
}

img#logo {
    width: 600px;
    max-width: 100%;
}

/* settings for images to keep them smol */
#wrapper iframe {
    width: 560px;
    max-width: 80vw;
    height: 315px;
}

#contentlinks ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
  
#contentlinks ul li {
  list-style-type: none;
  padding: 10px;
  list-style-position: inside;
  text-align: center;
} 

#contentlinks img {
    height: 3rem;
}

#contentlinks a:hover {
    opacity: .8;
}

/* Social Media Settings */

#patreon {
    display: inline-block;
    background-color: var(--color-purple);
    padding: 1rem;
    border-radius: 1rem;
    width: 15rem;
}

a#patreon:hover {
    opacity: 1;
    background-color: var(--color-violet);
}

#patreon img {
    height: 2rem;
    padding: 0 .5rem;
}

#nifty-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nifty-icons,
.nifty-icons:visited,
.nifty-icons:focus,
.nifty-icons:active {
    text-decoration: none;
    border: 0;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    margin: .5rem;
    color: #ffffff;
    border-radius: 15%;
    background-color: var(--color-purple);   
}

.nifty-icons:hover {
    background-color: var(--color-violet);
}

 .nifty-icon-svg {
    display: block;
    fill: var(--color-white);
}

#team ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#team li {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

/* Mobile Settings */
@media only screen and (max-width: 600px) {

    h1,
    h2 {
        font-size: 18px
    }

    body {
        font-size: 16px
    }

    #latest {
        display: none
    }
}